body {
    background-color: beige
}

header {
    background-image: url('../images/Clarios_Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

    position: relative;
    /* nécessaire pour centrer le texte */

    justify-content: flex-end;
    /* pousse la nav à droite */
    align-items: center;
    height: 100px;

    padding-left: 20px;
    border-radius: 0px 0px 20px 20px;

}

.textback {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}


.buttonNav {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.buttonNav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 5px;
}


/*/////////////////////////////////////////*/
#tabl {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#dep {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#detailsTaskinfo {
    display: flex;
    border: 2px rgba(0, 0, 0, 0.339) solid;
    width: 400px;
    border-radius: 10px;
    color: black;
    background-color: rgb(222, 233, 239);
}

#tachesEnCours {
    display: flex;
    flex-direction: column;
    border: 2px rgba(0, 0, 0, 0.339) solid;
    margin-left: 40px;
    border-radius: 10px;
    color: black;
    background-color: rgb(216, 236, 218);
}

.t1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    color: black;
    text-decoration: underline;
}

#tachesJS {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    /* barre verticale automatique */
    overflow-y: auto;
    padding-right: 8px;
    /* évite que la barre cache le contenu */
}

.StatTaskEnCours {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}


/*//////////////// JS /////////////////////////*/
.baliseTachesJS {
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    border: 2px solid rgb(96, 60, 135);
    margin: 10px;
}

.baliseNumProjet,
.baliseSujet,
.baliseDescription,
.baliseDate,
.baliseStatus {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 5px;
}

.btn-details {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.btn-detailsview {
    display: block;
    margin: 50px auto 0;
    padding: 10px;
    font-size: 16px;
}

.baliseDetail {
    margin-left: 10px;
    font-size: 16px;
}



#detailsTaskinfo {
    display: flex;
    flex-direction: column;
}


/*//////////////// Creer tâche /////////////////////////*/

#TaskCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px rgba(0, 0, 0, 0.339) solid;
    border-radius: 10px;
    color: black;
    background-color: rgba(210, 240, 129, 0.483);
    max-width: 400px;
    max-height: 250px;
}

#CreerTache {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

#titreprojet,
#description {
    display: flex;
    margin: 2px 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid rgb(96, 60, 135);
}

#description {
    white-space: pre-wrap;
    /*retour à la ligne */
    word-wrap: break-word;
    /* casse les mots */
}

#buttonCreateTask {
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;

}















/* MediaQuery*/
@media screen and (max-width: 1700px) {
    #dep {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tachesEnCours {
        display: flex;
        width: 300px;
        margin-left: 0px;
    }

    #detailsTaskinfo,
    #CreerTache {
        display: flex;
        width: 300px;
        height: 400px;
    }

    .btn-details {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .buttonNav {
        display: flex;
        text-align: right;
    }
}